In [1]:
from utils import *
from strategies import *

In [2]:
df = pd.read_csv('nifty50.csv')
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

In [ ]:
rs = []

for i in range(200):
    print(i)
    start, end = random_timeframe(df, 5)

    simple = InvestOnFifth(df, start=start, end=end).irr()
    best = InvestOnLowest(df, start=start, end=end).irr()
    rsi = RSI(df, start=start, end=end).irr()
    rs.append({"simple": simple, "rsi": rsi, "best": best})
res = pd.DataFrame(rs)

0

In [4]:
res.describe()

           simple        best
count  200.000000  200.000000
mean     0.149355    0.165689
std      0.091446    0.092789
min     -0.014224    0.009589
25%      0.097121    0.112028
50%      0.130945    0.144796
75%      0.164796    0.179412
max      0.453496    0.473169